:root {
  /* font-family: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace; */
    font-family: "inter";
}

body {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}


a {
  color: inherit;
  text-decoration: none;
}

a:focus{
  color: #003EAA; /*VERSION REAL APARECE EN AZUL CLARO CADA LINK*/
 /* color: #4d4d4e; */
}


/*!   ------------         NAVBAR             --------------     */

.navbar-container{
  /* max-width: 1040px; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-color: #1F2524;
  background-color: transparent;
  height: 11vh;
  color: #eee;
  position: absolute;
  width: 100%;
}

.navbar-menu-container{
  display: flex;
  gap: 40px;
  list-style: none;
}

.navbar-container li{
  font-weight: 500;
  letter-spacing: -.5px;
  border-bottom: 2px solid transparent;
  transition: all 300ms;
  padding-bottom: 4px;
  font-size: 18px;
  color: #eeeeeed4;
}

.navbar-container li:hover{
  cursor: pointer;
  /* color: #003EAA; */
  color: #ffffff;
  /* border-bottom: 2px solid #f7f7f7; */
  transform: scale(1.05);
  font-weight: 600;
}

.navbar-menu-container-responsive{
  display: none;
}

.responsive-hidden{
  display: none;
}

.burger-menu{
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 740px){
  .navbar-menu-container{
    display: none;
  }

  .navbar-container{
    justify-content: flex-end;
    /* padding-right: 40px; */
    /* background-color: #1F2524; */
  }

  .burger-menu{
    display: block;
    z-index: 10;
    margin-right: 40px;
  }

  .navbar-menu-container-responsive{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0f264a;
    color: #eee;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    /* margin: auto; */
    text-align: center;
    /* overflow-y:clip; */
  }

  html{
    width: 100vw;
  }

  
  .navbar-menu-container-responsive li{
    list-style: none;
    padding: 12px 24px;
    font-size: 24px;
    margin-bottom: 20px;
    transition: all 500ms;
  }



}





/*!   ------------         HERO            --------------     */

.hero-container{
  height: 100vh;
  display: flex;
  /* background-color: blueviolet; */
  /* background: linear-gradient(0.31deg, #003EAA 0.29%, rgba(31, 37, 36, 0.98) 100.4%); */
  background: linear-gradient(0.31deg, #003EAA 0.29%, #0f264a 100.4%);
}

.left-container{
  /* background-color: rgb(40, 185, 137); */
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  color: #eee;
  margin-left: 150px;
}

.left-container p{
  margin-top: 40px;
  max-width: 540px;
  font-size: 18px;
}

.left-container h1{
  font-size: 44px;
  margin-bottom: 10px;
}

.hero-btn{
  margin-top: 40px;
  padding: 14px 24px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #eee;
  cursor: pointer;
  background-color: #eee;
  background-color: transparent;
  color: #eee;
  font-size: 15px;
  font-weight: 600;
  font-family: "inter";
  transition: all 200ms;
}

.hero-btn:hover{
  /* border: 2px solid #eee; */
  background-color: #eee;
  color: #003EAA;
}



/* .right-container{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 20px;
} */

.future-img{
  width: 40%;
  height: 70%;
  object-fit:fill;
  margin: 0;
  border-radius: 20px 0px 0px 20px;
  filter: drop-shadow(-4px 4px 12px #000000);
  border-top: 1px solid #ffffff97;
  border-bottom: 1px solid #ffffff97;
  border-left: 1px solid #ffffff97;
}



.future-text p {
  /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  letter-spacing: 1px;
  font-size: 20px;
  color: #eee;
  font-weight: 700;
}

#year{
  font-size: 36px;
  font-weight: 600;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
-webkit-text-fill-color: rgba(255, 255, 255, 0); 
-webkit-text-stroke-width: 0.4px;
-webkit-text-stroke-color: rgb(255, 255, 255);
}

.future-img:hover {
  filter: drop-shadow(-4px 4px 10px rgba(235, 235, 235, 0.24));
  cursor: pointer;
}

.future-div{
  /* background-color: #003EAA; */
  display: flex;
  justify-content: flex-end;
}


@media screen and (max-width: 1040px){
    .right-container{
      display: none;
    }
    .left-container{
      width: 100%;
      padding: 0px;
      margin: 0px;
      justify-content: start;
      
      align-items: center;
    }

    .text-hero{
      margin-top: 100px;
    }

    .hero-container{
      max-width: 1040px;
      margin: auto;
      text-align: center;
      justify-content: center;
      align-items: center;
    }
}


@media screen and (max-width: 740px){
  .left-container{
    margin-top: 60px;
    padding: 0px 22px;
  }

  .left-container h1{
    font-size: 34px;
  }

  .left-container h1:nth-child(4){
    font-size: 26px;
    margin-top: 80px;
  }

  .hero-btn{
    margin-top: 30px;
  }

  .left-container p{
    max-width: 600px;
    text-align: center;
    margin-top: 50px;
    font-size: 16px;
  }
}

@media screen and (max-width: 500px){
  .left-container p{
    text-align: center;
    max-width: 300px;
  }

  .hero-message {
    /* color: #003EAA; */
    font-size: 22px !important;
  }
}


 /*!   ------------         ABOUT ME            --------------     */

 .about-container{
  height: 100vh;
  text-align: center;
  background-color: #003EAA;
  background-color: #131918;
  background-color: #1F2524;
  color: #eee;
  /* padding-top: 200px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }

 .profile-img{
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 50%;
  margin: 30px 0px;
  border: 2px solid #ffffff97;
  cursor: pointer;
  transition: all 200ms;
 }

 .profile-img:hover{
  box-shadow: 0px 0px 10px 6px #eeeeee53;
  border: 2px solid #fffffff1;;
 }

 .about-container h2{
  padding-top: 0px;
  margin-bottom: 20px;
  font-size: 44px;
 }

 .about-container p{
  font-size: 18px;
 }

 .about-container button{
    margin-top: 20px;
    padding: 12px 40px;
    border: none;
    border-radius: 4px;
    background-color: transparent;
    border: 1px solid #eee;
    color: #eee;
    transition: all 200ms;
    font-size: 18px;
 }

 .about-container button:hover{
    background-color: #003EAA; 
    cursor: pointer;
    /* border: none; */
    border: 1px solid #003EAA;
    border-radius: 4px;
    color: #eee;
 }


 @media screen and (max-width: 640px){
    .profile-img{
      width: 250px;
      height: 250px;
      margin-top: 70px;
      margin-bottom: 70px;
    }
    .about-container h2{
      padding-top: 50px;
      margin-bottom: 20px;
      font-size: 34px;
     }
    
     .about-container p{
      font-size: 16px;
     }

     .about-container{
      padding: 0px 30px;
      /* background-color: #003EAA; */
     }

     .about-container button{
      font-size: 16px;
   }
 }


 @media screen and (max-width: 500px){
  .about-container{
    /* padding-bottom: 70px; */
    /* background-color: #003EAA; */
    height: 110vh;
   }  
 }

 /*!   ------------------------------------------------------------------         PROYECTS            */

.proyects-container{
  /* height: 100vh; */
  text-align: center;
  background-color: #003EAA;
  background-color: #eee;
  /* background-color: #003EAA; */
  /* background-color: #ffffff; */
  color: #131918;
  display: grid;
  place-items: center;
  
}

.proyects-subcontainer{
  max-width: 1240px;
  
  
}


.proyects-head{
  padding-top: 50px;
  display: flex;
  flex-direction: column;
}

.proyects-head h2{
  font-size: 44px;
  margin-bottom: 20px;
}

.proyects-head p{
  font-size: 18px;
  margin: 0;
  margin-bottom: 20px;
}

/* .proyects-box-container{
  height: 60%;
  margin: 60px auto ;
  display: grid;
  align-items: center;
  justify-items: center;
  gap: 8px;
} */

.proyects-box-container{
  position: relative;
  width: 300px;
  height: 230px;
  background-color: #2f343300;
  display: grid;
  grid-template-columns: auto auto;
  border-radius: 4px;
  box-shadow: 0px 4px 10px 4px #3d3d3d2a;
  
  /* padding: 4px; */
}
.proyects-box-container:hover{
  /* background-color: #003EAA; */
  background: linear-gradient(0.31deg, #003EAA 0.29%, #123061 100.4%);
  color: #eee;
  border-radius: 4px;
}

.paa{
  padding: 12px 24px;
  background-color: #eee;
  color: #131918;
  margin-top: 20px;
  border-radius: 4px;
  font-weight: 600;
}

.projects-img{
  width: 300px;
  height: 230px;
  object-fit: cover !important;
  opacity: 1;
  border-radius: 4px;
  /* display: block; */
  /* transition: .3s ; */
  /* backface-visibility: hidden; */
}

.projects-img:hover{
  opacity: 0.1;
  /* transition: 400ms; */
}

/* .projects-card-hover{
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  font-size: 18px;
  color: transparent;
} */

.projects-card-hover{
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.projects-card-hover h3{
  margin-bottom: 4px;
}

.proyects-box-container:hover .projects-img {
  opacity: 0.07;
}
.proyects-box-container:hover .projects-card-hover {
  opacity: 1;
}




.proyects-contact p{
  font-size: 18px;
  padding-top: 30px;
}

.proyects-container button{
  margin-top: 20px;
  padding: 12px 40px;
  border: none;
  border-radius: 4px;
  transition: all 200ms;
  /* background-color: #eee; */
  border: 1px solid #131918;
  background-color: #e3e3e3;
  background-color: #eee;
  font-size: 16px;
  margin-bottom: 40px;
  cursor: pointer;
  /* box-shadow: 0px 0px 10px 2px #1319181b; */
}

.proyects-container button:hover{
  background-color: #122f5a;
  background-color: #003EAA;
  color: #eee;
  border: 1px solid #003EAA;
}

.projects-grid-container{
  display: grid;
  gap: 16px;
  margin-top: 40px;
  margin-bottom: 40px;

}



@media screen and (min-width:640px){
  .proyects-box-container{
    max-width: 600px;
    height: 100%;
    /* background-color: #003EAA; */
    /* border: 2px solid #eee; */
    /* border: 2px solid #003EAA; */
    margin: 30px auto ;
    display: grid;
    grid-template-columns: auto auto;
    /* grid-template-rows: auto auto; */
    align-items: center;
    justify-items: center;
    gap: 8px;
    
  }

  .proyects-container{
    height: 100vh;
    /* background-color: #003EAA !important; */
  }

  .projects-grid-container{
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 230px 230px;
    gap: 24px;
    margin-top: 0px;
    margin-bottom: 0px;
    /* margin-bottom: 30px; */
    
  }

  .proyects-contact{
    margin-top: 50px;
  }

  .text {
    color: #000000 !important;
  }

  .text a{
    color: #000000 !important;
  }

  /* .proyects-container button{
    margin-top: 6px;
  } */

}



 /*!   --------------------------------------------------------------------         CONTACT             */

 .contact-container{
  height: 100vh;
  text-align: center;
  background-color: #122F5A;
  background-color: #003EAA;
  color: #eee;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-head{
  padding-top: 50px;
}

.contact-head h2{
  margin-bottom: 20px;
  font-size: 44px;
}

.contact-head p{
  font-size: 18px;
}

.form-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* background-color: #1F2524; */
  max-width: 800px;
  margin: auto;
  margin-top: 100px;
  justify-content: center;
  align-items: center;
  color: #eee;
  
}

.form-container form{
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: center;
  color: #eee;
}

.form-container input{
  border: none;
  margin: 10px 0px;
  /* background-color: #003EAA; */
  background-color: transparent;
  width: 100%;
  border-bottom: 2px solid #eeeeee7e;
  padding: 14px 0px;
  font-size: 16px;
  color: #eee;
  transition: all 200ms;
}

.form-container input:focus{
  border-bottom: 2px solid #eee;
  outline: none;
  color: #eee;
  font-size: 16px;
}

.form-container input::placeholder{
  color: #eeeeee7e;
  font-size: 16px;
}


.form-container textarea{
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #eeeeee7e;
  width: 100%;
  margin: 10px 0px;
  font-size: 16px;
  color: #eee;
  font-family: "inter";
}

.form-container textarea:focus{
  outline: none;
  border-bottom: 2px solid #eee;
  color: #eee;
  font-size: 16px;
}

.form-container textarea::placeholder{
  font-size: 16px;
  color: #eeeeee7e;
}

.form-container button{
  border: none;
  margin-top: 50px;
  width: 50%;
  place-items: center;
  padding: 12px 40px;
  border-radius: 4px;
  /* background-color: #eeeeeec5; */
  background-color: #122F5A;
  background-color: transparent;
  border: 1px solid #eee;
  color: #eee;
  transition: all 200ms;
  font-size: 16px;
}

.form-container button:hover{
  cursor: pointer;
  /* background-color: #122F5A; */
  /* border: 1px solid #eee; */
  /* color: #eee; */
  /* background-color: #eee; */
  background-color: #eee;
  color: #122F5A;
  color: #003EAA;
}


@media screen and (max-width: 640px){
  .form-container input{
    width: 70%;
  }

  .form-container textarea{
    width: 70%;
  }

  .contact-head h2{
    margin-bottom: 20px;
    font-size: 36px;
  }

  .contact-container{
    background-color: #003EAA;
  }

  .contact-container button{
    background-color: transparent;
    /* font-weight: 600; */
  }

  .contact-container button:hover{
    background-color: #eee;
    color: #003EAA;
  }
}


 /*!   ------------------------------------------------------------------------         FUTURE              */

 .future-container{
  height: 100vh;
  text-align: center;
  margin: auto;
  background-color: #1F2524;
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
 }

.future-background-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

.future-container h1{
  position: absolute;
  z-index: 10;
  font-size: 56px;
  margin-top: 50px;
}

.future-container p{
  position: absolute;
  margin-top: 120px;
}

.future-container button{
  position: absolute;
  bottom: 0;
  margin-bottom: 90px;
  padding: 12px 0px;
  border: none;
  outline: none;
  border-radius: 4px;
  font-size: 14px;
  transition: all 200ms;
}
.future-container button:hover{
  background-color: #f1ea28;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 4px;
}

.future-container a{
  padding: 12px 50px;
  color: #131918;
}

 /*!   ---------------------------------------------------------------------         CLOSE                 */

.close-container{
  background-color: #ffffff;
  height: 88vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0.31deg, #0f264a 0.29%, #003EAA 100%);
}

.close-container h1{
  font-size: 78px;
  color: #003EAA;
  color: #122F5A;
  color: #eee;
  font-weight: 900;
  margin-bottom: 10px;
}

.close-container p{
font-size: 24px;
color: #003EAA;
color: #122f5a;
color: #eee;
font-weight: 400;

}

.close-container button{
  padding: 12px 24px;
  border: none;
  background-color: #ffffff;
  background-color: transparent;
  margin-top: 50px;
  border-radius: 4px;
  color: #122f5a;
  color: #003EAA;
  color: #eee;
  font-size: 18px;
  font-weight: 700;
  font-family: "inter";
  cursor: pointer;
  border: 1px solid #003EAA;
  border: 1px solid #122f5a;
  border: 1px solid #eee;
  transition: all 200ms;
}

.close-container button:hover{
  background-color: #003EAA;
  background-color: #eee;
  border: 1px solid #003EAA;
  border: 1px solid #eee;
  color: #eee;
  color:#003EAA;
}


@media screen and (max-width: 640px){
  .close-container{
    background-color: #003EAA;
    color: #eee;
    text-align: center;
    height: 80vh;
    background: linear-gradient(0.31deg, #003EAA 0.29%, #0f264a 100.4%);
    background: linear-gradient(0.31deg, #0f264a 0.29%, #003EAA 100.4%);

  }

  .close-container h1{
    color: #eee;
    font-size: 44px;
  }

  .close-container p{
    color: #eee;
    max-width: 300px;
  }

  .close-container button{
    background-color: transparent;
    border: 1px solid #eee;
    color: #eee;
  }

  .close-container button:hover{
    background-color: #eee;
    color: #003EAA;
  }



}


 /*!   ------------         FOOTER            --------------     */

 .footer-container{
   background-color: #003EAA;
   background-color: #1d2d3e;
   background-color: #eee;
   width: 100%;
  margin: auto;
  height: 12vh;
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  /* color: #003EAA; */
 }

 .footer-ul{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style: none;
  cursor: pointer;
  /* background-color: #003EAA; */
 }

 .footer-ul * {
  /* background-color: #003EAA; */
  color: #122f5a;
  color: #003EAA;
  /* border: 1px solid #eee; */
 }

 .footer-ul li{
  background-color: #eeeeeed2;
  /* padding: 10px; */
  border-radius: 50%;
  width: 58px;
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 200ms;
 }

 .footer-ul *:hover{
  background-color: #ffffff;
 }

 /* .footer-ul li:hover{
  background-color: #122f5a;
 } */

 .footer-container a{
  border-radius: 50%;
 }


@media screen and (max-width: 640px){
  .footer-container{
    background-color: #eee;
  }

  .footer-ul *{
    color: #003EAA;
  }

  .footer-ul{
    gap: 8px;
  }

  .footer-ul li{
    width: 48px;
    height: 48px;
  }
}



 /*!   --------------------------------------------------------------------          THANKS COMPONENT    */

 .thanks-container{
  height: 100vh;
  background-color: #122F5A;
  color: #eee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }

 .thanks-container h2{
  font-size: 44px;
  margin-bottom: 20px;
 }

 .thanks-container p{
  font-size: 18px;
 }

 @media screen and (max-width: 500px){
  .thanks-container h2{
    font-size: 34px;
    text-align: center;
    padding: 0px 10px;
  }
 }


/*!   ------------         ARROW COMPONENT             --------------     */



/*!   ------------              SKILLS           --------------     */

.skills-container{
  /* max-width: 1240px; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
  color: #0f264a;
  color: #eee;
  background-color: #ebebeb;
  background-color: #003EAA;
  height: 100vh;
  text-align: center;
}

.skills-container h2{
  font-size: 44px;
  padding-top: 60px;
  margin-bottom: 20px;
}

.skills-container p{
  font-size: 18px;
}

.skills-container-grid{
  display: grid;
  /* background-color: #003EAA; */
  max-width: 780px;
  margin: auto;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items:  center;
  margin-top: 100px;
  
}

.logo-figma{
  width: 100px;
  height: 100px;
}
.logo-figma html{
  width: 30px;
  height: 30px;
}

.skills-card-container{
  /* border: 1px solid #ffffffe8; */
  background-color: #ffffff1e;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0px 0px 6px 2px #cfcfda41;
  gap: 10px;
  /* box-shadow: 0px 0px 10px 4px #eee; */
  /* box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(178, 178, 180, 0.08) 0px 0px 0px 1px; */
}

.skills-card-container:hover{
  transform: scale(1.01);
  /* box-shadow: rgba(161, 164, 169, 0.826) 0px 4px 8px -2px, rgba(183, 183, 194, 0.557) 0px 0px 0px 1px; */
  box-shadow: 0px 0px 10px 4px #eeeeee45; 
}

@media screen and (max-width: 640px){
  .skills-container-grid{
    grid-template-columns: auto;
  }

  .skills-container{
    height: auto;
    padding-bottom: 50px;
    padding-left: 12px;
    padding-right: 12px;
  }
  .skills-container h2{
    font-size: 34px;
    padding-top: 60px;
    margin-bottom: 20px;
  }
  
  .skills-container p{
    font-size: 16px;
  }

  .skills-container-grid{
    margin-top: 60px;
  }
}



/*!   ------------             MORE ABOUT ME           --------------     */

.about-extra{
  /* max-width: 600px; */
  height: 60vh;
  /* background-color: #003EAA; */
  text-align: center;
  /* margin: auto; */
  display: flex;
  justify-content: center;
  /* justify-content: start; */
  align-items: center;
  /* align-content:center; */
  flex-direction: column;
  gap: 20px;
  /* margin-top: 100px; */
  margin-top: 40px;
  text-align: left;
}

.about-extra p{
  max-width: 720px;
  color: #eee;
  font-weight: 500;
  letter-spacing: .7px;
  font-size: 22px;
  /* margin-bottom: 12px; */
}

.about-title{
  color: #003EAA;
  font-size: 34px !important;
}

.about-container h3{
  font-size: 22px;
}

/* .about-container button{
  animation: wiggle 3s linear infinite;
} */
.close-container button{
  animation: wiggle 2.5s linear infinite;
}


@media screen and (max-width: 640px){
  .about-extra{
    height: 100vh;
    padding: 0px 6px;
    margin-top: 0px;
    justify-content: flex-start;
  }
  
  .about-extra p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }
  .about-title{
    color: #003EAA;
    font-size: 24px !important;
    padding-top: 0px !important;
  }


}


@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}


.profile-img{
  /* animation: float 6s ease-in-out infinite; */
  animation: pulse 3s linear infinite;
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
    transform: translatey(-10px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0px 0px 10px 6px #eeeeee23;
  }
  25% {
    box-shadow: 0px 0px 10px 8px #eeeeee3a;
  }
  50% {
    box-shadow: 0px 0px 10px 10px #eeeeee58;
  }
  75% {
    box-shadow: 0px 0px 10px 8px #eeeeee28;
  }
  100% {
    box-shadow: 0px 0px 10px 6px #eeeeee11;
  }
}


/*!   ----------------------------------------------------------------              MY-CV               */

.cv-container{
  /* height: 100vh; */
  background-color: #f9f9f9;
  background: linear-gradient(0.31deg, #003EAA 0.29%, #0f264a 100.4%);
  text-align: center;
  padding: 20px;
  color: #eee;
}

.cv-container h1{
  padding-top: 50px;
}

.cv-about-container{
  max-width: 840px;
  margin: 50px auto;
  border-radius: 4px;
  padding: 20px;
  background-color: #eee;
  color: #131918;
  text-align: left;
}

.cv-about-container h2{
  margin-bottom: 20px;
}
.cv-about-container p{
  margin-bottom: 10px;
}


.cv-contact-container{
  max-width: 840px;
  margin: 50px auto;
  border-radius: 4px;
  padding: 20px;
  background-color: #eee;
  color: #131918;
  text-align: left;
}

.cv-contact-container h2{
  margin-bottom: 20px;
}
.cv-contact-container P{
  margin-bottom: 10px;
}

.cv-skills-container{
  max-width: 840px;
  margin: 50px auto;
  border-radius: 4px;
  padding: 20px;
  background-color: #eee;
  color: #131918;
  text-align: left;
}

.cv-skills-container h2{
  margin-bottom: 20px;
}
.cv-skills-container P{
  margin-bottom: 10px;
}

.cv-education-container{
  max-width: 840px;
  margin: 50px auto;
  border-radius: 4px;
  padding: 20px;
  background-color: #eee;
  color: #131918;
  text-align: left;
}

.cv-education-container h2{
  margin-bottom: 20px;
}
.cv-education-container h3{
  margin-bottom: 10px;
}

.cv-experiencie-container{
  max-width: 840px;
  margin: 50px auto;
  border-radius: 4px;
  padding: 20px;
  background-color: #eee;
  color: #131918;
  text-align: left;
}

.cv-experiencie-container h2{
  margin-bottom: 20px;
}

.work-experiencie-card{
  padding: 10px;
}

.work-experiencie-card h3{
  margin-bottom: 10px;
}

.cv-extra-container{
  padding-bottom: 50px;
}